<section class="sonoma-slide slide-map-2-1" data-title="OVERALL TEMPERATURES PROJECTED TO RISE IN BOTH SUMMER…">
  <div class="container content-section">
    <div class="row">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title -small">Projected Overall increased weather variability</h2>
        </header>
        <p class="content">
          Unprecedented warm conditions are projected to occur in both summer and winter seasons. Both extreme wet years and extreme dry years are likely to occur. Overall, despite all this variability, the North Bay region is becoming more arid due to rising temperatures.
        </p>
        <p class="content">
          Preparing for the impacts of this increased weather variability is critically important
        </p>
      </div>
      <div class="col-md-6 wrapper">
        <div id="map2-1" class="map -up"></div>
      </div>
    </div>
  </div>
</section>

<section class="sonoma-slide" data-title="OVERALL TEMPERATURES PROJECTED TO RISE IN BOTH SUMMER…">
  <div class="container content-section">
    <div class="row">
      <div class="col-md-6 wrapper">
        <p class="content">
          Increase weather variability requires more planning and investments to prepare the Sonoma County Region to be resilient in the face of this climate change in areas such as:
        </p>
        <p class="content">
          <ul>
            <li>Infrastructure improvements (buildings, roads, energy grids)</li>
            <li>Agriculture</li>
            <li>Water Management</li>
            <li>Health Services</li>
            <li>Fire Management</li>
          </ul>
        </p>
      </div>
      <div class="col-md-6 wrapper">
        <h2>IMAGE HERE</h2>
      </div>
    </div>
  </div>
</section>
