<section class="sonoma-slide slide-map-2-1" data-title="Overall temperatures projected to rise in both summer and winter seasons">
  <div class="container content-section">
    <div class="row">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Overall temperatures projected to rise in both summer and winter seasons</h2>
        </header>
        <p class="content">
          This map visualization shows temperatures are projected to rise in both summer and winter seasons in Sonoma County. There are positive and negatives aspects to this change.
        </p>
      </div>
      <div class="col-md-6 wrapper">
        <div id="map2-1" class="map -up"></div>
      </div>
    </div>
  </div>
</section>

<section class="sonoma-slide" data-title="What does this mean for you?">
  <div class="container content-section">
    <div class="row">
      <div class="overlapping-cards">
        <div class="card">
          <h1>What does this mean for you?</h1>
          <p>Fire frequencies could increase by 20%, requiring more readiness planning.</p>
          <p>Plants that grow best in these temperatures are different than those that thrive in current temps.</p>
          <p>Water demand will increase, as  well as costs.<br/>Lower heating use and costs in winter.<br/>Increase air conditioning use and costs in summer.</p>
        </div>
        <div class="card slide-2-2"></div>
      </div>
    </div>
  </div>
</section>
