<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ENGLISH <span class="caret"></span></a>
<ul class="dropdown-menu">
  <li><a {{action 'setLocale' 'en-us'}}>ENGLISH</a></li>
  <li><a {{action 'setLocale' 'es'}}>SPANISH</a></li>
  <li><a {{action 'setLocale' 'fr'}}>FRENCH</a></li>
</ul>