/*branding colors - style 1 */
/*Main Color (dark blue) :: #215075 */
/*Data (green) :: #7bc763 */
/*Dashboards (yellow) :: #ffd160 */
/*Insights (light blue) :: #25c1d7 */


/* set the output folder for fonts */
$icon-font-path: './fonts/';
@import 'bootstrap';

/*not sure how to override the font family from calcite-bootstrap so i'm doing this*/
body, 
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans",Arial, sans-serif;
}

@import 'password';
@import 'vizz/main.scss';
@import 'header';
@import 'header-data';
@import 'data';
@import 'dashboards';
@import 'dashboard-washington';
@import 'dashboard-washington-indicators';
@import 'insights';

@import 'components/data-popup';
@import 'components/dashboard-card';
@import 'components/chart-card';
@import 'components/map-card';
@import 'components/legend-view';
@import 'components/legend-item';

.card {
  width: 100%;
}

/*utils*/
.no-padding {
  padding: 0;
}
.pad-5 {
  padding: 5px;
}
.pad-left-5 {
  padding-left: 5px;
}
.pad-right-5 {
  padding-right: 5px;
}
.pad-20 {
  padding: 20px;
}
.pad-top-20 {
  padding-top: 20px;
}
.pad-top-50 {
  padding-top: 50px;
}
.pad-bottom-5 {
  padding-bottom: 5px;
}
.pad-bottom-20 {
  padding-bottom: 20px;
}
.pad-bottom-50 {
  padding-bottom: 50px;
}
.marg-right-15 {
  margin-right: 15px;
}
.marg-right-30 {
  margin-right: 30px;
}
.margin-top-95 {
  margin-top: 95px;
}
/*utils*/

/*dashboard*/
.nav-pills li {
  cursor: pointer;
  font-size: 30px;
}
.dashboard-views-container {
  margin: 0;
 /* border-left: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
  border-right: 1px solid #a9a9a9;*/
}
/*dashboard*/

/*breadcrumb-nav*/
.dashboardReturnDisplayNone {
  display: none;
}
.dashboardReturnDisplayInline {
  display: inline;
}
.breadcrumb-nav {
  /*background-color: transparent;*/
  padding: 0 0 0 10px;
  margin-bottom: 0;
}
/*breadcrumb-nav*/

.quad-map-col {
  width: 270px;
}
.quad-map {
  height: 265px;
  width: 265px;
}

.arcgis-map-legend {
  height: 80px;
  width: 80px;
  background-color: rgba(218,218,218,0.80);
  position: absolute !important;
  bottom: 5px;
  right: 0;
  font-size: 11px;
  padding-top: 8px;
}

.calcite .esriSimpleSlider div {
  height: 22px;
  width: 22px;
  font-size: 9px;
}

.arcgis-map-title {
  height: 25px;
  width: 80px;
  background-color: rgba(218,218,218,0.80);
  position: absolute !important;
  top: 5px;
  right: 0;
  font-size: 11px;
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
}

.pwd-error {
  display: none;
}

.coming-soon {
    filter: grayscale(0);
    -moz-filter: grayscale(0);
    -webkit-filter: grayscale(0);
    transition: filter .3s, -webkit-filter .3s, opacity .3s, -moz-filter .3s;
}
.coming-soon:hover {
    filter: grayscale(1);
    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    opacity: .5;
}