<section class="sonoma-slide" data-title="Sea Level Rise">
  <div class="container content-section">
    <div class="row flex -align-center">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Sea Level Rise</h2>
        </header>
        <p class="content">
          The tides of the ocean and bay bordering the region are projected to rise in response to increasing global temperatures.
        </p>
        <p class="content">
          Sea level rise is <a href="http://data.pointblue.org/apps/ocof/cms/" target="_blank">anticipated</a> to exceed 5 feet by the end of the century, resulting in more frequent flooding in communities like Jenner and Petaluma.
        </p>
      </div>
      <div class="col-md-6 wrapper">
        <img src="img/sonoma/sonoma-1/road.jpg" class="c-image"/>
      </div>
    </div>
  </div>
</section>