<section class="sonoma-slide" data-title="Sonoma County Climate Resilience Team">
  <div class="container content-section">
    <div class="row">
      <div class="col-md-12 wrapper">
        <header class="header">
          <h2 class="title">Sonoma County Climate Resilience Team</h2>
        </header>
        <h4>
          The Sonoma County Climate Resilience Dashboard is product of the Sonoma County Climate Resilience Team:
        </h4><br/>
        <p class="content">
          Contacts:
        </p><br/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 wrapper">
        <p class="content">
          Sonoma County Water Agency<br/>
          <a href="Jay.Jasperse@scwa.ca.gov" target="_blank">Jay Jasperse</a><br/>
          Chief Engineer and Director of Groundwater Management
        </p>

        <p class="content">
          Sonoma County Regional Climate Protection Authority<br/>
          <a href="lauren.casey@rcpa.ca.gov" target="_blank">Lauren Casey</a><br/>
          Director of Climate Programs
        </p>

        <p class="content">
          Pepperwood Foundation<br/>
          <a href="lmicheli@pepperwoodpreserve.org" target="_blank">Lisa Micheli</a><br/>
          President and CEO
        </p>
      </div>

      <div class="col-md-6 wrapper">
        <p class="content">
          Sonoma Ecology Center, for the North Bay Climate Adaptation Initiative<br/>
          <a href="caitlin@sonomaecologycenter.org" target="_blank">Caitlin Cornwall</a><br/>
          Research Program Manager
        </p>

        <p class="content">
          U.S. Geology Survey<br/>
          <a href="lflint@usgs.gov" target="_blank">Lorraine Flint</a><br/>
          Research Hydrologist
        </p>

        <p class="content">
          Earth Knowledge<br/>
          <a href="julia@earthknowledge.net" target="_blank">Julia Armstrong D’Agnese</a><br/>
          Chief Executive Officer
        </p>
      </div>
    </div>
  </div>
</section>