<section class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 wrapper">
                <br><br>
                <header class="header">
                    <h1 class="title">Contact</h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 wrapper">
                <p class="content">
                    <b>This website is under development</b>
                </p>
                <p class="content">Please reach out to <a href="mailto://fgassert@wri.org">Francis</a> or <a href="mailto://ana@climatedatasolutions.com">Ana</a> to learn more.</p><br>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</section>
