
<section class="sonoma-slide slide-1-intro" data-title="Projected Overall increased weather variability">
  <div class="viel-banner"></div>
  <div class="container content-section flex -justify-space-between -column full-height">
  	<div class="row" style="margin-bottom: 10%">
      <div class="col-md-12 wrapper flex -column -align-center">
        <img src="img/sonoma/sonoma-1/logos/sccrd--logo.png" class="c-image -medium"/>
  			<header class="banner -center header">
          <h1  class="title -line-center -white">
          	Sonoma County Climate Resilience Dashboard
          </h1>
	        <h3>
	          Developed by The Sonoma County Climate Resilience Team
	        </h3>
        </header>
  		</div>
  	</div>
    <div class="row">
      <div class="col-md-12 wrapper">
        <footer class="c-logos">
          <div><img src="img/sonoma/sonoma-1/logos/scw-logo.png" class="logo"/></div>
          <div><img src="img/sonoma/sonoma-1/logos/rcpa-logo.png" class="logo"/></div>
          <div><img src="img/sonoma/sonoma-1/logos/pepperwood-logo.png" class="logo"/></div>
          <div><img src="img/sonoma/sonoma-1/logos/usgs-logo.png" class="logo"/></div>
          <div><img src="img/sonoma/sonoma-1/logos/ek-logo.png" class="logo"/></div>
          <div><img src="img/sonoma/sonoma-1/logos/NBCAI-logo_whitelinea.png" class="logo"/></div>
        </footer>
      </div>
    </div>
    <p style="color: white">Photo Credit: ©Pepperwood 2016</p>
  </div>
</section>

<section class="sonoma-slide" data-title="What is Special about Sonoma County?">
  <div class="container content-section">
    <div class="row flex -align-center">
      <div class="overlapping-cards">
        <div class="card">
          <header class="header">
            <h2 class="title -ln-white">What is Special about Sonoma County?</h2>
          </header>
          <p class="content">
            Sonoma County features diverse agriculture, globally-significant biodiversity, nine growing communities, and a thriving economy. The Russian River watershed provides drinking water to 600,000 people, habitat for rare salmon species, and world-class wines.
          </p>
        </div>
        <div class="card img1-1 img">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sonoma-slide" data-title="How the Region is Preparing for Climate Change">
  <div class="container content-section">
    <div class="row">
      <div class="overlapping-cards">
        <div class="card img img1-2"></div>
        <div class="card wrapper">
          <header class="header">
            <h2 class="title">How the Region is Preparing for Climate Change</h2>
          </header>
          <p class="content">
            Sonoma County—
            <ul>
            <li>Leader in combating climate change</li>
            <li>Recognized by the White House as a US Climate Champion</li>
            <li>Continually raising community awareness about the impacts of climate variability</li>
            </ul>
          </p>
          <p>
            Photo Credit: ©Pepperwood 2016
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sonoma-slide" data-title="Sonoma County’s Regional Climate Protection Authority (RCPA) Fosters Collaboration">
  <div class="container content-section">
    <div class="row">
      <div class="overlapping-cards">
        <div class="card">
          <header class="header">
            <h2 class="title -ln-white">Sonoma County’s Regional Climate Protection Authority (RCPA) Fosters Collaboration</h2>
          </header>
          <p class="content">
            The RCPA is a unique agency created to improve coordination on climate change issues, and is governed by a Board of elected officials from all nine cities and the County. The RCPA provides a platform to pool resources and share tools and best practices. The Regional Climate Action Plan developed by the RCPA on behalf of local jurisdictions guides policies for mitigation and adaptation.
          </p>
        </div>
        <div class="card img1-3 img"></div>
      </div>
    </div>
  </div>
</section>

<section class="sonoma-slide" data-title="Sonoma County Water Agency:  Mitigation Leader">
  <div class="container content-section">
    <div class="row">
      <div class="overlapping-cards">
        <div class="card img img1-4"></div>
        <div class="card wrapper">
          <header class="header">
            <h2 class="title">Sonoma County Water Agency:  Mitigation Leader</h2>
          </header>
          <p class="content">
            The Sonoma County Water Agency is an innovator in utilizing renewable energy sources to supply water to its users, and procures 100% of its electricity needs through renewable and carbon free resources, achieving a carbon neutral electricity supply to power its water system.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sonoma-slide" data-title="A Vibrant Collective of NGOs Catalyzes Community Action">
  <div class="container content-section">
    <div class="row flex -align-center">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">A Vibrant Collective of NGOs Catalyzes Community Action</h2>
        </header>
        <p class="content">
          Under the umbrella of the <a href="http://www.northbayclimate.org" target="_blanck">North Bay Climate Adaptation Initiative</a> (NBCAI), local NGOs leverage their strengths to forge innovative partnerships between scientists, businesses, and experts in multiple sectors. NBCAI’s community engagement supports public agencies by seeding the ground for a science-based approach to cross-sector action.
        </p>
        <p class="content">Photo Credit: ©Pepperwood 2016</p>
        <img src="img/sonoma/sonoma-1/logos.png" />
      </div>
      <div class="col-md-5 col-md-offset-1 wrapper">
        <img src="img/sonoma/sonoma-1/sonoma-pyramid.png" class="c-image"/>
      </div>
    </div>
  </div>
</section>