
<section class="sonoma-slide" data-title="Our Climate is getting Warmer and More Variable">
  <div class="container content-section">
    <div class="row">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Our Climate is getting Warmer and More Variable</h2>
        </header>
      </div>
      <div class="col-md-6 wrapper">
        <div class="chart-card">
          <div class="info-button">i</div>
          <div class="chart" id="chart1-1"></div>
        </div>
        <p class="content">
          Yearly rain and yearly summer air temperature for Sonoma County, showing actual data before 2010 and projected data from multiple models after 2010. The model closest to the mid-range of all the models, used throughout this dashboard, is highlighted in black. Dotted lines show 10th and 90th percentiles.
        </p>
      </div>
    </div>
  </div>
</section>


<section class="sonoma-slide" data-title="Our Climate is getting Warmer and More Variable">
  <div class="container content-section">
    <div class="row">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Our Climate is getting Warmer and More Variable</h2>
        </header>
        <p>Scientists can estimate the range of future climate change outcomes using computer models.</p>
        <p>18 future projections were evaluated and all suggest that Sonoma County climate is getting warmer and more variable.</p>
        <p>This dashboard presents results from just one climate-hydrology projection for illustration.</p>
      </div>
      <div class="col-md-6 wrapper">
        <div class="chart-card">
          <div class="info-button">i</div>
          <div class="chart" id="chart1-2"></div>
        </div>
        <p class="content">
          Yearly rain and yearly summer air temperature for Sonoma County, showing actual data before 2010 and projected data from multiple models after 2010. The model closest to the mid-range of all the models, used throughout this dashboard, is highlighted in black. Dotted lines show 10th and 90th percentiles.
        </p>
      </div>
    </div>
  </div>
</section>
