
<section class="sonoma-slide" data-title="Different Kinds of Drought">
  <div class="container content-section">
    <div class="row flex -align-center">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Different Kinds of Drought</h2>
        </header>
        <p class="content">
          “Water supply” droughts:
          <ul>
            <li>Impact river and stream flows, reservoirs and wells</li>
            <li>Are measured by recharge and runoff</li>
          </ul>
        </p>
        <p class="content">
          “Landscape” droughts:
          <ul>
            <li>Impact soils and vegetation</li>
            <li>Are measured by climatic water deficit</li>
          </ul>
        </p>
        <p class="content">
          Climatic Water Deficit is a metric that quantifies plants’ need for water from the soil.
        </p>
        <p class="content">
          Figure footnote: An acute <strong>water supply drought</strong> in 1976 and 1977 had rain far below normal, and moderate climatic water deficit. An extended <strong>landscape drought</strong> began in 2012 with rain about 75% of normal, and hotter temperatures.
        </p>
      </div>
      <div class="col-md-6 wrapper">
        
      </div>
    </div>
  </div>
</section>