<div class="container fluid">
  <div class="row">
    <div class="col-xs-6">
      <div class="row pad-top-50">
        <h1>Our Mission</h1>
      </div>
      <div class="row pad-bottom-50">
        <hr align="left" class="topic-divider">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget libero a odio consequat egestas id ac justo. Pellentesque non maximus ipsum, eget condimentum eros. In eget ante eget quam sollicitudin sagittis. Ut sed nisl libero. Maecenas eu ligula ornare, feugiat purus vitae, accumsan leo. In sagittis rhoncus lectus at hendrerit. Phasellus commodo sapien mauris, sed lobortis velit aliquet nec. Morbi auctor nisi non turpis.</p>
      </div>
    </div>
  </div>
</div>
<div class="container fluid iceberg-section">
</div>

<div class="container floating-section">
  <div class="row kid-home">
  </div>
  <div class="row kid-title-section">
    <h1>Accessible, authoritative communication</h1>
  </div>
  <div class="row kid-text-section">
    <hr align="left" class="topic-divider">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget libero a odio consequat egestas id ac justo. Pellentesque non maximus ipsum, eget condimentum eros. In eget ante eget quam sollicitudin sagittis. Ut sed nisl libero. Maecenas eu ligula ornare, feugiat purus vitae, accumsan leo. In sagittis rhoncus lectus at hendrerit. Phasellus commodo sapien mauris, sed lobortis velit aliquet nec. Morbi auctor nisi non turpis.</p>
  </div>
</div>
