<section class="content-section l-header-home">
  <div class="container">
    <div class="wrapper">
      <header class="header">
        <h1 class="title -main intro">Working together to build a climate-resilient world</h1>
      </header>
    </div>
  </div>
</section>

<section class="content-section l-homepage-mission">
  <div class="container">
    <div class="row">
      <div class="col-md-5 wrapper">
        <header class="header">
          <h2 class="title -small">The Challenge</h2>
        </header>
        <p class="content">Our changing climate is accelerating the intensity and frequency of stresses facing communities across the globe. There is now a growing recognition that even with aggressive reductions in greenhouse gas emissions, continued changes in Earth’s climate are inevitable. Planners, businesses, investors and resource managers must have access to robust and actionable information as well as guidance on how to use it to manage the risks.</p>
      </div>
      <div class="col-md-6 wrapper floatingcontainer">
        <img class="hero" src="img/vizz/img-accessible.jpg" alt="Our mission" />
        <header class="header">
          <h2 class="title -small">Our Mission</h2>
        </header>
        <p class="content">The Partnership for Resilience and Preparedness (PREP) is a public-private collaboration whose mission is to empower a data-driven approach to building climate resilience.</p><br>
        <p class="content">Our inital product is a platfom to help planners, investors and resource managers assess and incorporate climate risks into their decisions by enhancing access to data and insights on climate variability and change.</p><br>
        {{#link-to "about" class="link"}}
          About our mission
        {{/link-to}}
      </div>
    </div>
  </div>
  <div class="container-fluid imagecontainer">
    <div class="row">
      <div class="col-xs-12 wrapper">
        <img class="hero" src="img/vizz/img-mission.jpg" alt="Accessible, authoritative assessments" />
      </div>
    </div>
  </div>
</section>

<section class="container content-section l-homepage-problem">
  <div class="row">
    <div class="col-md-10 wrapper">
      <header class="header">
        <h2 class="title -border2 -smallmargin">Access to Authoratative Information</h2>
      </header>
      {{#link-to "insights" class="link -margin"}}
        Go to Insights
      {{/link-to}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 wrapper">
      <p class="content">The platform provides access to climate-relevant data, tools and case studies from authoritative sources within government, private industry and civil society. It will also allow you to seamlessly incorporate your own local content.</p>
    </div>
  </div>
  <div class="row indicators">
    <div class="col-md-4 indicator">
      <div class="content">
        <h3 class="name">Global temperature</h3>
        <div class="value">1.4<sup>ºF</sup></div>
        <div class="context">Since 1880</div>
      </div>
    </div>
    <div class="col-md-4 indicator">
      <div class="content">
        <h3 class="name">Carbon Dioxide</h3>
        <div class="value">402.56</div>
        <div class="context">Parts per million</div>
      </div>
    </div>
    <div class="col-md-4 indicator">
      <div class="content">
        <h3 class="name">Sea Level</h3>
        <div class="value">3.39</div>
        <div class="context">mm per year</div>
      </div>
    </div>
  </div>
  <div class="row insight">
    <div class="col-xs-12 wrapper">
      <img class="new-york" src="img/home/porto-alegre-crop.jpeg" alt="Porto Alegre" />
      <span href="#" class="link -right coming-soon">Go to Porto Alegre insight</span>
    </div>
  </div>
</section>

<section class="container content-section l-homepage-analysis">
  <div class="row">
    <div class="col-md-9 wrapper">
      <header class="header">
        <h2 class="title -smallmargin">Develop Customized Dashboards</h2>
      </header>
      {{#link-to "dashboards.index" class="link -margin"}}
        Go to Dashboards
      {{/link-to}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 wrapper">
      <p class="content -margin">Create and share your own online dashboard containing data, information, tools, interactive stories and other dynamic resources specific to your own geographic or topical area of interest. These dashboards can help mainstream climate-risk information into planning and investment decisions.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 wrapper indicator coming-soon">
      <img src="img/vizz/img-chart1.png" alt="Indicator 1" />
    </div>
    <div class="col-md-4">
      <div class="row indicatorgroup">
        <div class="col-md-12 wrapper indicator coming-soon">
          <img src="img/vizz/img-chart2.png" alt="Indicator 2" />
        </div>
        <div class="col-md-12 wrapper indicator coming-soon">
          <img src="img/vizz/img-chart3.png" alt="Indicator 3" />
        </div>
      </div>
    </div>
    <div class="col-md-12 wrapper">
      <span href="" class="link  -right coming-soon">go to Porto Alegre dashboard</span>
    </div>
  </div>

</section>

<section class="container content-section l-homepage-map">
  <div class="row">
    <div class="col-md-8 wrapper">
      <header class="header">
        <h2 class="title -border3 -smallmargin">Explore the latest data</h2>
      </header>
      {{#link-to "data" class="link -margin"}}
        Go to Data
      {{/link-to}}
    </div>
    <div class="col-md-7 wrapper">
      <p class="content">Interact with global, national, regional and local data using a web-based map. Filter by topic, projection models and area of impact to customize the map within seconds. Create unique data visualizations or explore those created by others. When you’re ready, publish or share your findings to raise awareness in your community.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 wrapper">
      <img class="map" src="img/vizz/img-map.png" alt="Map" />
    </div>
  </div>
</section>

<section class="content-section l-homepage-contact">
  <div class="container">
    <div class="row">
      <article class="col-xs-12 col-md-6 wrapper">
        <header class="header">
          <h2 class="title -inverse">We want to hear from you</h2>
        </header>
        <p class="content -inverse">PREP aims to enhance access to and usability of data relevant for climate assessment and resilience planning—and we can only achieve that with thoughtful feedback from users like you.
        </p><br>
        <p class="content -inverse">Interested in formally joining the collaboration? Please contact us here.</p>
      </article>
      <div class="col-xs-12 col-md-6 wrapper">
        <form class="contactbox coming-soon">
          <input type="email" placeholder="your@email.org" class="email" />
          <textarea placeholder="Your message here" class="message"></textarea>
          <button type="submit" class="general-button">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</section>
