
<section class="sonoma-slide" data-title="Necessary Investments for Resilience and Preparedness">
  <div class="container content-section">
    <div class="row">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Necessary Investments for Resilience and Preparedness</h2>
        </header>
        <p class="content">
          Increased climate variability will require more planning and investment in the following sectors:
          <ul>
            <li>Infrastructure</li>
            <li>Agriculture</li>
            <li>Water Management</li>
            <li>Health and Emergency Services</li>
            <li>Wildfire and Wildland Management</li>
          </ul>
        </p>
      </div>
      <div class="col-md-6 wrapper">
        <img src="img/sonoma/sonoma-5/road2.jpeg" class="c-image"/>
      </div>
    </div>
  </div>
</section>