{{arcgis-map-data webmap="a3a1227296a043809bf29a031fbd15b6"}}
<div class="data-sidecar">
  <!-- header -->
  <div class="header">
    <div class="row">
      <div class="col-xs-4">
        <span class='coming-soon'>TOPICS</span>
      </div>
      <div class="col-xs-4">
        <span class='coming-soon'>AREAS</span>
      </div>
      <div class="col-xs-4">
        <span class='coming-soon'>DATE</span>
      </div>
    </div>
  </div>

  <!-- layer listing -->
  <div class="layer-listing">
    {{#each session.layerListing as |layer|}}
      {{toggle-checkbox layerOptions=layer}}
    {{/each}}
  </div>

</div>
<div id="search"></div>

{{legend-view}}
{{data-popup}}