.btn-transparent {
  color: #25b5cd;
  border-radius: 0;
  background: transparent;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
	font-size: 12px;
	line-height: 1.8;
	letter-spacing: 0.3px;
  border: solid 2px #25b5cd;
  text-transform: uppercase;
}