.data-popup {
  top: 15%;
}
.modal-content {
  border-radius: 0;
}

.data-popup .modal-header {
  border-bottom: 0;
}

.data-title {
  font-family: OpenSans-Bold;
  font-size: 20px;
  line-height: 1.1;
  color: #263e57;
}
.data-subtitle {
  font-family: OpenSans-Bold;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.3px;
  color: #efa600;
}

.info-text {
  font-size: 17px;
  line-height: 1.6;
  color: #263e57;
}

.data-popup .btn-download {
  width: 135px;
  height: 44px;
  border: solid 2px #ffc94e;
  line-height: 1.6;
  letter-spacing: 0.4px;
  font-family: OpenSans-Bold;
  font-size: 14px;
  color: #263e57;
  border-radius: 0;
  margin-right: 20px;
}