$reveal-actions-bg: #f5f6f6;
$reveal-actions-font-color: #1a3e62;
$reveal-actions-font-size: 12px;

$navigation-btn-bg: #ffc94e;
$navigation-btn-bg-disable: #fff;
$navigation-btn-bg-border: #f6f7f7;
$navigation-btn-color: #000;

html,
body {
  width: auto !important;
  height: auto !important;
  overflow: auto !important;
}

.reveal-container {
  height: 800px;
}

.reveal {
  position: relative;

  > .slides {
    height: 100%!important;
    width: 100%!important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    transform: translate(0, 0) scale(1) !important;
    > section {
      height: 100%!important;
      width: 100%!important;
      padding: 2rem;
    }
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
  }

  .reveal-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 40px;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: $reveal-actions-bg;
    z-index: 1;
    a {
      color:$reveal-actions-font-color;
      font-size: $reveal-actions-font-size;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
    }
    .index{
      padding-left: 6rem;
      position: relative;
      cursor: pointer;
    }
    .menu-icon{
      position: absolute;
      left: 10px;
      top: 2px;
      > span {
        position: relative;
        display: block;
        height: 2px;
        width: 10px;
        margin-top: 2px;
        background-color: $navigation-btn-bg;

        &:after{
          content: '';
          position: absolute;
          top:0;
          left: -4px;
          width: 2px;
          height: 2px;
          background-color: $navigation-btn-bg;
        }
      }
    }
  }

  .reveal-controls {
    z-index: 2;
    &.-horizontal {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      display: block;
      &.-left{
        left: 1rem;
      }
      &.-right{
        right: 1rem;
      }
    }
    &.-vertical {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 20px;

      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100px;
      margin-left: auto;
      margin-right: auto;

    }
    > a {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: $navigation-btn-bg;
      border-radius: 50%;
      border: 1px solid $navigation-btn-bg-border;
      &:not(.enabled) {
        cursor: default;
        background-color: $navigation-btn-bg-disable;
        &:after{
          border-color: rgba($navigation-btn-color, 0.5);
        }
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 14px;
        left: 14px;
        @include arrow(12px, $navigation-btn-color , 2px, 45deg)
      }
      &.navigate-up:after{
        top: 16px;
      }
      &.navigate-down:after{
        top: 12px;
        transform: rotate(225deg);
      }
      &.navigate-left:after{
        left: 16px;
        transform: rotate(-45deg);
      }
      &.navigate-right:after{
        left: 12px;
        transform: rotate(135deg);
      }
    }
  }
  .slide-number {
    position: absolute;
    bottom: 0;
    left: 5rem;
    right: auto;
    width: auto;

    padding: 0;
    height: 40px;
    display: flex!important;
    align-items: center;
    background: none;

    > span{
      margin-top: 1px;
      color:$reveal-actions-font-color;
      font-size: $reveal-actions-font-size;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
