$slider-color-bar:#1a3e62;

.noUi-horizontal{
  height: 4px;
  .noUi-handle{
    height: 13px;
    width: 13px;
    left: -6.5px;
    top: -6.5px;
    background-color: $slider-color-bar;
    border: none;
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);
    border-radius: 50%;
    &:after, &:before {
      display: none;
    }
  }
}
.noUi-target{
  cursor: pointer;
}
.noUi-base{
  background-color: $slider-color-bar;
}
.noUi-origin{
  background: white;
}
