$slider-title-color: #fff;
$slider-title-bg: #1A3E62;
$slider-title-size: 30px;

.sonoma-slide {
  .float-title {
    display: inline-block;
    padding: 1rem 2rem;

    color: $slider-title-color;
    font-size: $slider-title-size;

    background-color: $slider-title-bg;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
  }
  .img-title{
    position: relative;
    display: inline-block;
    &:after{
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -23px;
      width: 100%;
      height: 3px;
      background-color: #ffc94e;
    }
  }
}
