<div class="reveal">
  <div class="slides">
    {{yield}}
  </div>
  <div class="reveal-controls -horizontal">
    <a href="#" class="navigate-left">Left</a>
    <a href="#" class="navigate-right">Right</a>
  </div>
  <div class="reveal-controls -vertical">
    <a href="#" class="navigate-down">Down</a>
    <a href="#" class="navigate-up">Up</a>
  </div>
  <div class="reveal-actions">
    <div class="index">
      <a href="#" {{action 'openModal' 'tableContent' }}>TITLE OF THE SLIDE</a>
    </div>
    <div class="toolbar">
      <a href="#" {{action 'openModal' 'download' }}>DOWNLOAD</a>
    </div>
  </div>
</div>
