<div class="reveal">
  <div class="slides">
    {{yield}}
  </div>
  <div class="reveal-controls -horizontal -left">
    <a href="#" class="navigate-left"></a>
  </div>
  <div class="reveal-controls -horizontal -right">
    <a href="#" class="navigate-right"></a>
  </div>
  <div class="reveal-controls -vertical">
    <a href="#" class="navigate-up"></a>
    <a href="#" class="navigate-down"></a>
  </div>
  <div class="reveal-actions">
    <div class="index" {{action 'openModal' 'tableContent' }}>
      <div class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <a id="sliderTitles" href="#" >Title of slides</a>
    </div>
    <div class="toolbar">
      <a href="#" {{action 'openModal' 'download' }}>DOWNLOAD</a>
    </div>
  </div>
</div>
