<section class="sonoma-slide slide-map-3-1" data-title="Warmer Winter Nights">
  <div class="container content-section">
    <div class="row">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Warmer Winter Nights</h2>
        </header>
        <p class="content">
          This sequence of maps shows where winter night-time temperatures, on average, are expected to exceed 39°F (yellow) and 43°F (red).
        </p>
      </div>
      <div class="col-md-6 wrapper map-card">
        <div id="map3-1" class="map slide-map-3-1"></div>
        <div class="map-legend">
          <div class="range years">
            <span class="-selected">1951-1980</span>
            <span>1981-2010</span>
            <span>2011-2039</span>
            <span>2040-2069</span>
            <span>2070-2099</span>
          </div>
          <div id="timelineSlider3-1" class="slide"></div>
          <span class="title">Explanation</span>
          <span class="legend"> Areas showing where 30-yr average minimum monthly winter temperature exceeds average minimum monthly winter temperature between 1981 and 2010 (>39.7 °F) </span>
        </div>
      </div>
    </div>
  </div>
</section>