
<section class="sonoma-slide" data-title="Necessary Investments for Resilience and Preparedness">
  <div class="container content-section">
    <div class="row flex -align-center">
      <div class="overlapping-cards">
        <div class="card">
          <header class="header">
            <h2 class="title -ln-white">Necessary Investments for Resilience and Preparedness</h2>
          </header>
          <p class="content">
            Increased climate variability will require more planning and investment in the following sectors:
            <ul>
              <li>Infrastructure</li>
              <li>Agriculture</li>
              <li>Water Management</li>
              <li>Health and Emergency Services</li>
              <li>Wildfire and Wildland Management</li>
            </ul>
          </p>
        </div>
        <div class="card img img5-1"></div>
      </div>
    </div>
  </div>
</section>