
<section class="sonoma-slide" data-title="Effect of Climate Change on Water Supply">
  <div class="container content-section">
    <div class="row flex -align-center">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Effect of Climate Change on Water Supply</h2>
        </header>
        <p class="content">
          Watershed models suggest that ground-water recharge, which refills aquifers, is a much more reliable source of water for the region than surface-water runoff which fills reservoirs. Groundwater aquifers are a much larger water supply than reservoirs, but reliable only when effectively managed.
        </p>
      </div>
      <div class="col-md-6 wrapper">
        <div class="chart-card">
          <div class="info-button">i</div>
          <div class="chart chart16-1"></div>
        </div>
      </div>
    </div>
  </div>
</section>