
<section class="sonoma-slide" data-title="Next Century Projection of Landscape Drough">
  <div class="container content-section">
    <div class="row flex -align-center">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Next Century Projection of Landscape Drough</h2>
        </header>
        <p class="content">
          Despite the great variability in rainfall projections for the region, all future scenarios project larger, increasing climatic water deficits, equivalent to 3-6 inches of additional rainfall or irrigation that today’s plants would need to survive!
        </p>
        <p class="content">
          <span>Image: </span>
          <span>>28 in/year (yellow)</span><br/>
          <span>>32 in/year (red)</span>
        </p>
      </div>
      <div class="col-md-6 wrapper">
        <div class="flex map-card">
          <iframe src="https://resource-watch.github.io/insights/sonoma-maps/water-deficit-increases.html"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
