<div class="container content-section -center">
  <div class="row">
    <div class="col-md-12 wrapper">
      <h2 class="img-title">
        <img src="img/sonoma/earthknowledge.png" alt="Earth kwnowlegde" />
      </h2>
      <h2 class="banner">
        How is sonoma county’s climate changing
      </h2>
      <p class="author">
        Frank D’Agnese
        <span class="highlight">President & CTO (Co-founder)</span>
      </p>
    </div>
  </div>
</div>
