<div class="panel panel-default">
  <div class="panel-body pad-5">
    <div class="row pad-bottom-5">
      <div class="col-xs-6 marg-right-15 quad-map-col">
        
          {{ arcgis-map 
            webmap="10350605f40847228356bcfc94f254c8" 
            logo=false 
            showAttribution=false
            class="quad-map"
            legend=true
            addTitle=true
          }}
         
      </div>
      <div class="col-xs-6 pad-left-5 quad-map-col">
        {{ arcgis-map 
            webmap="51f882573f354ff4a03151892560f25b" 
            logo=false 
            showAttribution=false
            class="quad-map"
            legend=true
            addTitle=true
          }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 marg-right-15 quad-map-col">
        {{ arcgis-map 
            webmap="036239da0a6e42f78c9dd8fb938cde84" 
            logo=false 
            showAttribution=false
            class="quad-map"
            legend=true
            addTitle=true
          }}
      </div>
      <div class="col-xs-6 pad-left-5 quad-map-col">
        {{ arcgis-map 
            webmap="af2da7efd24c4ae4bda1717506070e65" 
            logo=false 
            showAttribution=false
            class="quad-map"
            legend=true
            addTitle=true
          }}
      </div>
    </div>
  </div>
</div>