<section class="sonoma-slide" data-title="Rainfall is projected to become more variable">
  <div class="container content-section">
    <div class="row flex -align-center">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Rainfall is Projected to Become More Variable</h2>
        </header>
      </div>
      <div class="col-md-6 wrapper">
        <div class="chart-card">
          <div class="chart" id="chart10-1"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sonoma-slide" data-title="Rainfall is Projected to Become More Variable">
  <div class="container content-section">
    <div class="row flex -align-center">
      <div class="col-md-6 wrapper">
        <img src="img/sonoma/sonoma-10/wildRiver.jpg" class="c-image"/>
      </div>
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Rainfall is Projected to Become More Variable</h2>
        </header>
        <p class="content">
          Rainfall over the next century is uncertain. Some models estimate the region will see a major increase in rainfall, while others project little change or a reduction.
        </p>
        <p class="content">
          In most projections, there is increasing variability in rainfall from year to year.
        </p>
      </div>
    </div>
  </div>
</section>