<section class="sonoma-slide slide-map-11-1" data-title="Rainfall in the Region Falls Mostly as Extreme Events">
  <div class="container content-section">
    <div class="row">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Rainfall in the Region Falls Mostly as Extreme Events</h2>
        </header>
        <p class="content">
          Almost half of the region’s rain comes from ocean events known as <strong>Atmospheric Rivers</strong>.
        </p>
        <p class="content">
          <strong>Atmospheric rivers can carry 10 times the amount of water flowing out the mouth of the Mississippi River, and can cause extreme rain, snow, and flood risks.</strong>
        </p>
      </div>
      <div class="col-md-6 wrapper map-card">
        <div id="map8-1" class="map slide-map-11-1"></div>
        <div class="map-legend">
          <div id="timelineSlider11-1" class="slide"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sonoma-slide" data-title="Atmospheric Rivers are “Drought Busters”">
  <div class="container content-section">
    <div class="row">
      <div class="col-md-6 wrapper">
        <div class="c-image -column">
          <img src="img/sonoma/sonoma-11/lake.jpg" class="c-image"/>
          <img src="img/sonoma/sonoma-11/lake-dry.jpg" class="c-image"/>
        </div>
      </div>
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Atmospheric Rivers are “Drought Busters”</h2>
        </header>
        <p class="content">
          Atmospheric Rivers comprise the top 5% of all annual rainfall responsible for filling Sonoma County reservoirs, often called “Drought Busters.”
        </p>
      </div>
    </div>
  </div>
</section>

<section class="sonoma-slide" data-title="Atmospheric Rivers Fill the Region’s Reservoirs">
  <div class="container content-section">
    <div class="row">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Atmospheric Rivers Fill the Region’s Reservoirs</h2>
        </header>
        <p class="content">
          A series of events filled Lake Mendocino in early 2016 from far below normal to above normal in 3 months.
        </p>
      </div>
      <div class="col-md-6 wrapper">
        <div class="chart-card">
          <div class="info-button">i</div>
          <div class="chart" id="chart2-1"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sonoma-slide" data-title="Learning more about Atmospheric Rivers (ARs)">
  <div class="container content-section">
    <div class="row">
      <div class="col-md-6 wrapper">
        <div class="chart-card">
          <div class="info-button">i</div>
          <div class="chart" id="chart2-1"></div>
        </div>
      </div>
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Learning more about Atmospheric Rivers (ARs)</h2>
        </header>
        <p class="content">
          The Sonoma County Water Agency, the Scripps Institute of Oceanography’s <a href="http://woodland.ucsd.edu/" target="_blank">Center for Western Weather and Water Extremes</a>, and NOAA have installed new monitoring systems to improve AR forecasts. The program allows scientists to understand how ARs can help provide a more secure water supply.
        </p>
      </div>
    </div>
  </div>
</section>