<div class="modal fade data-popup" id="dataPopupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="pull-left">
          <h4 class="modal-title data-title">Precipitation Change</h4>
          <p class="modal-title data-subtitle text-uppercase">Relative to 1950-1999 Average</p>  
        </div>
        <div class="pull-right">
          <button class="btn btn-default btn-md btn-download">DOWNLOAD</button>
        </div>
        <div class="clearfix"></div>        
      </div>
      <div class="modal-body modal-body-container">
        <div class="row">
          <div class="col-xs-6">
            <img src="img/data/data-popup-chart.png">
          </div>
          <div class="col-xs-6 info-text">
            <p><strong>Description:</strong> Lorem ipsum annual precipitation (in %) for the Puget Sound Lowlands climate division shown relative to the average for 1950-1999 (black horizontal line corresponding 43.6 inches). The dashed line indicating a warming of +1.3ºF (range: +0.7ºF to +1.9ºF)ß from 1895 to 2014.</p>
            <p><strong>Data source:</strong> Vose et al. 2014.D,1</p>
            <p><strong>Topic:</strong> Precipitations, Temperature</p>
            <p><strong>Area:</strong> Puget Sound, Washington</p>
            <img src="img/dashboards/logos/uw-wash.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>