<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-left">
      <h3 class="panel-title card-title">{{panel_title}}</h3>
      <p class="card-sub-title text-uppercase">{{panel_subtitle}}</p>
    </div>
    <div class="pull-right">
      <span class="glyphicon glyphicon-info-sign"></span>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    {{component component_name settings=component_settings}}
  </div>
</div>
