<section class="sonoma-slide" data-title="Drought occurrence is projected to increase because of rising temperatures">
  <div class="container content-section">
    <div class="row">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Drought occurrence is projected to increase because of rising temperatures</h2>
        </header>
      </div>
      <div class="col-md-6 wrapper">
        <p class="content">The extreme drought which California has been in for 5+ years cannot be remedied quickly, and it is important to know that not all high rainfall events can efficiently decrease the drought conditions in the soils in the landscape.</p>
        <p class="content">When we get a lot of rain, it’s often during warm weather, the plants soak up the rainwater and less goes into the soil.  The soil and ground need hydration in order to build back up our ground-water supply.  What accumulates is called Climate Water Deficit.</p>
      </div>
    </div>
  </div>
</section>

<section class="sonoma-slide slide-map-7-2 -no-center" data-title="Climate water deficit">
  <div class="container">
    <h1 class="float-title">Climate Water Deficit <span class="info-button">i</span></h1>
  </div>
  <div id="map7-2" class="map slide-map-7-2"></div>
  <div class="map-legend">
    <span class="title">30 years average</span>
    <div class="range years">
      <span class="-selected">1951-1980</span>
      <span>1981-2010</span>
      <span>2011-2039</span>
      <span>2040-2069</span>
      <span>2070-2099</span>
    </div>
    <div id="timelineSlider7-2" class="slide"></div>
  </div>
</section>
