<div class="row">
  <div class="col-xs-3 vcenter legend-item-padding">
    <div class="swatch-wrapper">
      {{legendSwatchInfo}}
    </div>    
  </div>
  <div class="col-xs-5 vcenter legend-item-padding">
    <div class="legend-title text-uppercase">{{title}}</div>
  </div>
  <div class="col-xs-4 vcenter legend-item-padding text-center">
    <div class="legend-options">
      <span class="glyphicon glyphicon-eye-open coming-soon"></span>
      <span class="glyphicon glyphicon-screenshot coming-soon"></span>
      <span class="glyphicon glyphicon-calendar coming-soon"></span>
      <!-- <span class="glyphicon glyphicon-info-sign" data-target="#dataPopupModal" data-toggle="modal"></span> -->
      <a href="{{arcgisWebViewerLink}}" class="arcgis-link" target="_blank">
        <span class="glyphicon glyphicon-info-sign"></span>
      </a>
    </div>
  </div>
</div>
