<section class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 wrapper">
                <br><br>
                <header class="header">
                    <h1 class="title">FAQs</h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 wrapper">
                <p class="content">
                    <b>What is PREP?</b>
                </p>
                <p class="content">The PREP Platform is a project started by the Partnership for Resilience and Preparedness (PREP), a public-private collaboration that emerged out of the White House Climate Data Initiative. We aim to facilitate collaboration among technology innovators, researchers, data scientists, and practitioners from the private sector, civil society and government. This cooperation will help spur new types of data discovery; develop innovative, customizable tools in response to user needs; and facilitate sharing and collective learning.</p><br>
                <p class="content">
                    <b>What is Climate Resilience?</b>
                </p><br>
                <p class="content">
                    <b>How can I get involved?</b>
                </p><br>
                <p class="content">
                    <b>Can I trust your data?</b>
                </p><br>
                <p class="content">
                    <b>Where can I download data?</b>
                </p><br>
                <p class="content">
                    <b>How do you deal with uncertainty in planning for the future?</b>
                </p><br>
                <p class="content">
                    <b>I see an error, where do I report it?</b>
                </p>
                <br>
                <br>
            </div>
        </div>
    </div>
</section>
