/* Return the margin between the border of the viewport and the content */
.content-section .wrapper > .header > .title {
  font-family: "PT Serif", serif;
  font-size: 50px;
  color: #263e57;
  font-weight: 700;
  position: relative;
  margin: 0;
  margin-bottom: 42px;
}
@media screen and (max-width: 724px) {
  .content-section .wrapper > .header > .title {
    font-size: 40px;
  }
}
.content-section .wrapper > .header > .title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -23px;
  width: 120px;
  height: 3px;
  background-color: #ffc94e;
}
.content-section .wrapper > .header > .title.-main {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 95px;
  line-height: 1.1;
  letter-spacing: -2.7px;
}
@media screen and (max-width: 768px) {
  .content-section .wrapper > .header > .title.-main {
    font-size: 60px;
  }
}
@media screen and (max-width: 724px) {
  .content-section .wrapper > .header > .title.-main {
    font-size: 43px;
  }
}
.content-section .wrapper > .header > .title.-main:after {
  content: '|';
  display: inline;
  position: static;
  background-color: transparent;
  color: #ffc94e;
}
.content-section .wrapper > .header > .title.-small {
  font-size: 40px;
}
.content-section .wrapper > .header > .title.-smallmargin {
  margin-bottom: 25px;
}
.content-section .wrapper > .header > .title.-inverse {
  color: #fff;
}
.content-section .wrapper > .header > .title.-border2:after {
  background-color: #25b5cd;
}
.content-section .wrapper > .header > .title.-border3:after {
  background-color: #6bbf51;
}
.content-section .wrapper > .link {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #263e57;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .4px;
  text-decoration: none;
}
.content-section .wrapper > .link.-margin {
  margin-bottom: 25px;
}
.content-section .wrapper > .link.-right {
  float: right;
}
.content-section .wrapper > .header + .link {
  padding-top: 12px;
}
.content-section .wrapper > .content {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 28px;
  color: #263e57;
  margin: 0;
}
.content-section .wrapper > .content.-inverse {
  color: #fff;
}
.content-section .wrapper > .content.-margin {
  margin-bottom: 90px;
}
@media screen and (max-width: 768px) {
  .content-section .wrapper > .content.-margin {
    margin-bottom: 30px;
  }
}
.general-button {
  padding: 2px 20px;
  background-color: #ffc94e;
  color: #263e57;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: .3px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.general-button.-inverse {
  color: #fff;
}
.general-button.-outline {
  background-color: transparent;
  border: 1px solid #ffc94e
}
.l-header {
  /*height: 775px;*/
  /*background: no-repeat center/cover url("/img/vizz/bg-splash.jpg"), #041527;*/
  background: #041527;
  padding: 0;
  margin: 0;

}
@media screen and (max-width: 724px) {
  .l-header {
    height: 610px;
  }
}
.l-header > .container {
  position: relative;
  height: 100%;
}
.l-header > .container .navbar {
  margin-top: 30px;
  background: transparent;
  border: none;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.l-header > .container .navbar:before, .l-header > .container .navbar:after {
  content: none;
}
@media screen and (max-width: 992px) {
  .l-header > .container .navbar {
    display: block;
    margin-top: 10px;
  }
}
@media screen and (max-width: 605px) {
  .l-header > .container .navbar {
    width: calc(100% + 30px);
    position: relative;
    left: -15px;
    margin-top: 0;
  }
}
@media screen and (max-width: 605px) {
  .l-header > .container .navbar .navbar-header {
    background-color: rgba(4,21,39, .8);
  }
}
.l-header > .container .navbar .navbar-header > .navbar-toggle,
        .l-header > .container .navbar .navbar-header > .navbar-toggle:hover,
        .l-header > .container .navbar .navbar-header > .navbar-toggle:focus {
  border: none;
  border-radius: 0;
  background: none;
}
.l-header > .container .navbar .navbar-header > .navbar-toggle > .icon-bar, .l-header > .container .navbar .navbar-header > .navbar-toggle:hover > .icon-bar, .l-header > .container .navbar .navbar-header > .navbar-toggle:focus > .icon-bar {
  background-color: #fff;
}
@media screen and (max-width: 992px) {
  .l-header > .container .navbar .navbar-header {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .l-header > .container .navbar .navbar-header:before, .l-header > .container .navbar .navbar-header:after {
    content: none;
  }
}
.l-header > .container .navbar .logo {
  max-width: 263px;
}
@media screen and (max-width: 420px) {
  .l-header > .container .navbar .logo {
    max-width: 90%;
  }
}
.l-header > .container .navbar .navbar-brand {
  height: auto;
}
.l-header > .container .navbar .navbar-collapse {
  border: none;
  box-shadow: none;
  padding: 0;
}
.l-header > .container .navbar .navbar-collapse > .navbar-nav {
  padding-top: 10px;
}
@media screen and (max-width: 992px) {
  .l-header > .container .navbar .navbar-collapse > .navbar-nav {
    border-top: 1px solid rgba(255,255,255, .3);
  }
}
.l-header > .container .navbar .navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 605px) {
  .l-header > .container .navbar .navbar-nav {
    flex-direction: column;
    margin: 0;
    padding-bottom: 10px;
    background-color: rgba(4,21,39, .8);
  }
}
.l-header > .container .navbar .navbar-nav .item {
  padding: 0 17px;
  float: none;
}
@media screen and (max-width: 605px) {
  .l-header > .container .navbar .navbar-nav .item {
    padding: 10px 17px;
  }
}
.l-header > .container .navbar .navbar-nav .item > a,
          .l-header > .container .navbar .navbar-nav .item > a.hover {
  padding: 0;
  color: #fff;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: .5px;
  text-transform: uppercase;
}
.l-header > .container .navbar .navbar-nav .item.-secondary > a, .l-header > .container .navbar .navbar-nav .item.-secondary > a:hover, .l-header > .container .navbar .navbar-nav .item  {
  font-weight: 400;
}
.l-header > .container .navbar .navbar-nav .item.separator {
  padding: 0;
  display: inline-block;
  flex-basis: 1px;
  margin: 0 17px;
  width: 1px;
  height: 42px;
  background-color: rgba(255,255,255, .3);
}
.l-header > .container .title.intro {
  position: absolute;
  bottom: 250px;
  margin: 0;
  width: calc(100% - 30px);
  z-index: 0;
}
@media screen and (max-width: 1199px) {
  .l-header > .container .title.intro {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}
.l-footer {
  background-color: #173554;
  padding-top: 60px;
}
@media screen and (max-width: 768px) {
  .l-footer {
    padding-top: 50px;
  }
}
.l-footer .wrapper .partners {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.l-footer .wrapper .partners > .partner {
  margin: 40px 20px 0 20px;
  padding: 0;
  flex-basis: 130px;
  text-align: center;
}
.l-footer .wrapper .partners > .partner:first-of-type {
  margin-left: 0;
}
.l-footer .wrapper .partners > .partner:last-of-type {
  flex-basis: 210px;
  margin-right: 0;
}
@media screen and (max-width: 1100px) {
  .l-footer .wrapper .partners > .partner:nth-of-type(5) {
    margin-right: 0;
  }
  .l-footer .wrapper .partners > .partner:last-of-type {
    flex-basis: 100%;
    text-align: center;
  }
}
.l-footer .wrapper .partners > .partner > a {
  text-decoration: none;
}
.l-footer .wrapper .partners > .partner .logo-wri        {
  max-width: 114px;
}
.l-footer .wrapper .partners > .partner .logo-vizzuality {
  max-width: 105px;
}
.l-footer .wrapper .partners > .partner .logo-nasa       {
  max-width: 65px;
}
.l-footer .wrapper .partners > .partner .logo-esri       {
  max-width: 99px;
}
.l-footer .wrapper .partners > .partner .logo-descartes  {
  max-width: 126px;
}
.l-footer .wrapper .separator {
  margin: 50px 0 40px;
  border: none;
  border-top: 3px solid #1a3e62;
}
.l-footer .wrapper .navbar {
  width: 100%;
  margin-bottom: 40px;
  background: transparent;
  border: none;
  border-radius: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: auto;
}
@media screen and (max-width: 400px) {
  .l-footer .wrapper .navbar {
    justify-content: space-around;
    margin-bottom: 10px;
  }
}
.l-footer .wrapper .navbar:before, .l-footer .wrapper .navbar:after {
  content: none;
}
.l-footer .wrapper .navbar .logo {
  max-width: 263px;
}
.l-footer .wrapper .navbar .navbar-brand {
  height: auto;
}
.l-footer .wrapper .navbar .navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
@media screen and (max-width: 400px) {
  .l-footer .wrapper .navbar .navbar-nav {
    margin-bottom: 30px;
  }
}
.l-footer .wrapper .navbar .navbar-nav.socialmedia > .item > a {
  padding: 0 10px;
}
.l-footer .wrapper .navbar .navbar-nav.menu > .item > a,
          .l-footer .wrapper .navbar .navbar-nav.menu > .item > a.hover {
  display: inline-block;
  position: relative;
  padding: 0 15px 0 0;
  color: #fff;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: .3px;
  text-transform: uppercase;
}
.l-footer .wrapper .navbar .navbar-nav.menu > .item > a:after, .l-footer .wrapper .navbar .navbar-nav.menu > .item > a.hover:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 7px;
  width: 1px;
  height: 100%;
  background-color: #25b5cd;
}
.l-footer .wrapper .navbar .navbar-nav.menu > .item:last-of-type > a,
          .l-footer .wrapper .navbar .navbar-nav.menu > .item:last-of-type > a:hover {
  padding-right: 0;
  margin-right: 10px;
}
.l-footer .wrapper .navbar .navbar-nav.menu > .item:last-of-type > a:after, .l-footer .wrapper .navbar .navbar-nav.menu > .item:last-of-type > a:hover:after {
  content: none;
}
.l-homepage-mission {
  padding-top: 75px;
}
@media screen and (max-width: 768px) {
  .l-homepage-mission {
    padding-top: 30px;
  }
}
.l-homepage-mission .row {
  position: relative;
}
.l-homepage-mission .floatingcontainer {
  position: absolute;
  right: 15px;
  top: -100px;
  z-index: 1;
  padding: 0 60px 50px 60px;
  box-shadow: 0 8px 15px 0 rgba(0,0,0, .15);
  background-color: #fff;
  overflow-x: hidden;
}
@media screen and (max-width: 992px) {
  .l-homepage-mission .floatingcontainer {
    position: static;
    margin: 50px 15px 0 15px;
  }
}
@media screen and (max-width: 767px) {
  .l-homepage-mission .floatingcontainer {
    padding: 0 15px;
    margin: 50px 0 0 0;
    box-shadow: none;
  }
}
.l-homepage-mission .floatingcontainer > .hero {
  width: calc(100% + 120px);
  position: relative;
  left: -60px;
  margin-bottom: 45px;
}
@media screen and (max-width: 767px) {
  .l-homepage-mission .floatingcontainer > .hero {
    width: calc(100% + 30px);
    left: -15px;
  }
}
.l-homepage-mission > .imagecontainer {
  padding: 0;
  margin-top: 105px;
}
@media screen and (max-width: 768px) {
  .l-homepage-mission > .imagecontainer {
    margin-top: 50px;
  }
}
.l-homepage-mission > .imagecontainer > .row {
  margin: 0;
}
.l-homepage-mission > .imagecontainer > .row > .wrapper {
  padding: 0;
}
.l-homepage-mission > .imagecontainer > .row > .wrapper > .hero {
  width: 100%;
}
.l-homepage-problem {
  padding-top: 90px;
  padding-bottom: 100px;
  border-bottom: 3px solid #eee;

}
@media screen and (max-width: 768px) {
  .l-homepage-problem {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
.l-homepage-problem > .indicators {
  width: calc(100% - 20px);
  margin: 55px 0 0;
  padding: 30px 0 50px;
  background-color: #25b5cd;
}
.l-homepage-problem > .indicators > .indicator {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  border-right: 1px solid #fff;
}
.l-homepage-problem > .indicators > .indicator:last-of-type {
  border: none;
}
@media screen and (max-width: 992px) {
  .l-homepage-problem > .indicators > .indicator {
    margin-bottom: 50px;
    border-right: none;
  }
  .l-homepage-problem > .indicators > .indicator:after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 15px;
    width: calc(100% - 30px);
    height: 1px;
    background-color: rgba(255,255,255, .5);
  }
  .l-homepage-problem > .indicators > .indicator:last-of-type {
    margin-bottom: 0;
  }
  .l-homepage-problem > .indicators > .indicator:last-of-type:after {
    content: none;
  }
}
.l-homepage-problem > .indicators > .indicator > .content {
  display: inline-block;
  text-align: left;
}
.l-homepage-problem > .indicators > .indicator > .content > .name {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .4px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
}
.l-homepage-problem > .indicators > .indicator > .content > .value {
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  line-height: 55px;
  letter-spacing: -1.5px;
  color: #fafafa;
  padding-top: 5px;
  padding-left: 40px;
  background: no-repeat left top url("data:image/svg+xml;charset=utf8,%3Csvg width='30' height='54' viewBox='0 0 30 54' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Einsight-arrow%3C/title%3E%3Cpath d='M5.122 17.11a3.002 3.002 0 0 1-4.242 0 2.997 2.997 0 0 1 0-4.241L12.876.879a3.003 3.003 0 0 1 4.248 0l11.997 11.99a2.997 2.997 0 0 1 0 4.242 3.002 3.002 0 0 1-4.242 0L18 10.235v40.742a2.998 2.998 0 0 1-3 2.997c-1.656 0-3-1.341-3-2.997V10.235l-6.878 6.876z' fill='%23000' fill-rule='evenodd' fill-opacity='.3'/%3E%3C/svg%3E");
}
.l-homepage-problem > .indicators > .indicator > .content > .value > sup {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -.5px;
  position: relative;
  top: -10px;
  left: 5px;
}
.l-homepage-problem > .indicators > .indicator > .content > .context {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: .2px;
  color: #fafafa;
  margin-top: 12px;
}
.l-homepage-problem > .insight {
  width: calc(100% - 20px);
  margin: 0 0 0 20px;
  position: relative;
  top: -20px;
}
.l-homepage-problem > .insight > .wrapper {
  padding: 0;
}
.l-homepage-problem > .insight > .wrapper > .new-york {
  width: 100%;
  box-shadow: 0 7px 15px 0 rgba(0,0,0, .15);
}
.l-homepage-analysis {
  padding-top: 90px;
  padding-bottom: 100px;
  border-bottom: 3px solid #eee;
}
@media screen and (max-width: 768px) {
  .l-homepage-analysis {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
.l-homepage-analysis .indicatorgroup {
  margin: 0;
}
.l-homepage-analysis .indicatorgroup > .wrapper {
  padding: 5px 0 !important;
}
.l-homepage-analysis .indicatorgroup .indicator:first-of-type {
  margin-bottom: 10px;
}
.l-homepage-analysis .indicatorgroup .indicator:last-of-type img {
  border: none;
  box-shadow: 0 7px 15px 0 rgba(0,0,0, .15);
}
.l-homepage-analysis .wrapper > .dashboard {
  width: 100%;
  margin-top: 90px;
}
.l-homepage-analysis .wrapper > .link.-right {
  float: right;
}
.l-homepage-analysis .wrapper.indicator {
  padding: 5px 5px 5px 15px;
}
@media screen and (max-width: 990px) {
  .l-homepage-analysis .wrapper.indicator {
    padding: 15px;
  }
}
.l-homepage-analysis .wrapper.indicator img {
  width: 100%;
  border: 1px solid #eee;
}
.l-homepage-map {
  padding-top: 90px;
  padding-bottom: 100px;
  border-bottom: 3px solid #f5f6f7;
}
@media screen and (max-width: 768px) {
  .l-homepage-map {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: none;
  }
}
.l-homepage-map .wrapper  {
  overflow-x: hidden;
  width: 100%;
}
.l-homepage-map .wrapper > .map {
  width: 100%;
  margin-top: 70px;
  box-shadow: 0 7px 15px 0 rgba(0,0,0, .15);
}
@media screen and (max-width: 767px) {
  .l-homepage-map .wrapper > .map {
    position: relative;
    left: -15px;
    width: calc(100% + 30px);
    box-shadow: none;
  }
}
.l-homepage-contact {
  padding-top: 100px;
  padding-bottom: 120px;
  background-color: #1a3e62;
}
@media screen and (max-width: 768px) {
  .l-homepage-contact {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
}
@media screen and (max-width: 950px) {
  .l-homepage-contact {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
  }
}
.l-homepage-contact > .wrapper {
  margin-left: calc((100% - 1140px) / 2);
  max-width: calc(1140px * .5);
  padding-right: 125px;
}
@media screen and (max-width: 1140px) {
  .l-homepage-contact > .wrapper {
    margin-left: 0;
    max-width: calc(100% * .5);
  }
}
.l-homepage-contact > .wrapper > .content + .content {
  margin-top: 28px;
}
@media screen and (max-width: 950px) {
  .l-homepage-contact > .wrapper {
    max-width: 65%;
    padding-right: 0;
  }
}
.l-homepage-contact .contactbox {
  position: relative;
  width: calc(100% - 10px);
  padding: 50px;
  background-color: #fafafa;
  box-shadow: 0 5px 20px 0 rgba(0,0,0, .2);
}
@media screen and (max-width: 950px) {
  .l-homepage-contact .contactbox {
    margin-top: 70px;
  }
}
@media screen and (max-width: 768px) {
  .l-homepage-contact .contactbox {
    margin-top: 30px;
  }
}
.l-homepage-contact .contactbox > .email {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 28px;
  color: #333;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(26,62,98, .3);
  outline: 0;
  margin-bottom: 40px;
  background-color: #fafafa;
}
.l-homepage-contact .contactbox > .message {
  width: 100%;
  min-height: 170px;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 32px;
  color: #333;
  border: 0;
  outline: 0;
  background-image: repeating-linear-gradient(to bottom, transparent, transparent 30.5px, rgba(26,62,98, .3) 32px);/* Issue with FF: https://bugzilla.mozilla.org/show_bug.cgi?id=1007064 */
  background-attachment: local;
  background-color: #fafafa;
}
.l-homepage-contact .contactbox > .general-button {
  position: absolute;
  bottom: -10px;
  right: -10px;
}
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  margin: 0;
  padding: 0;
}