
<section class="sonoma-slide" data-title="More Frequent and Severe Droughts">
  <div class="container content-section">
    <div class="row">
      <div class="overlapping-cards">
        <div class="card">
          <header class="header">
            <h2 class="title -ln-white">More Frequent and Severe Droughts</h2>
          </header>
          <p class="content">
            Climate projections indicate that droughts in the region will become more frequent and more severe.
          </p>
          <p class="content">
            Droughts are caused by low rainfall, but their impact is made more severe by high temperatures. Landscapes take longer to recover from these extended droughts.
          </p>
          <p class="content">
            Photo Credit: ©Pepperwood 2016
          </p>
        </div>
        <div class="card img img12-1"></div>
      </div>
    </div>
  </div>
</section>


<section class="sonoma-slide" data-title="Effects of Severe Drought">
  <div class="container content-section">
    <div class="row">
      <div class="overlapping-cards">
        <div class="card img img12-2"></div>
        <div class="card wrapper">
          <header class="header">
            <h2 class="title">Effects of Severe Drought</h2>
          </header>
          <p class="content">
            <ul>
              <li>Water supply emergencies, depleted reservoirs and groundwater aquifers, resulting in mandatory water use restrictions.</li>
              <li>Forest stress, die off, pest infestations, and risk of catastrophic fire.</li>
              <li>Crop failure and low crop yields.</li>
              <li>Higher prices of food and water.</li>
              <li>Loss of water and forage for livestock.</li>
              <li>Deaths of fish, amphibians, and other species that rely on streams and wetlands.</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>