
<section class="sonoma-slide" data-title="What is Climatic Water Deficit">
  <div class="container content-section">
    <div class="row">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">What is Climatic Water Deficit</h2>
        </header>
        <p class="content">
          Sonoma County’s climate features a dry season from April through November.
        </p>
        <p class="content">
          Climate models project shorter winters and longer summers with soils that are more drought-stressed by the end of the dry season.
        </p>
        <p class="content">
          Climatic Water Deficit is a metric that quantifies plants’ need for water from the soil.
        </p>
      </div>
      <div class="col-md-6 wrapper">
        <img src="img/sonoma/sonoma-13/waterbalancediagram.png" class="c-image"/>
      </div>
    </div>
  </div>
</section>


<section class="sonoma-slide" data-title="Climatic Water Deficit and Landscape Stress">
  <div class="container content-section">
    <div class="row">
      <div class="col-md-6 wrapper">
        <img src="img/sonoma/sonoma-13/CWDpic.png" class="c-image"/>
        <p>
          As winter water supply stops in the late spring and warmer air increases evapotranspiration, plants use the available water in the soil.  As soil water declines, a deficit accumulates until rain comes again in the fall. Irrigation may reverse the deficit.
        </p>
      </div>
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Climatic Water Deficit and Landscape Stress</h2>
        </header>
        <p class="content">
          Climatic Water Deficit indicates:
          <ul>
            <li>Landscape and plant drought stress</li>
            <li>Environment’s need for water to irrigate crops</li>
            <li>Where plants can grow</li>
            <li>Potential wildfire risks</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>