<div class="row text-center">
  <form {{action "checkLogin" on="submit"}}>
    <span class="input input--minoru">
      <input class="input__field input__field--yoko" type="password" id="input-pwd" autocomplete="off">
      <label class="input__label input__label--yoko" for="input-18">
        <span class="input__label-content input__label-content--yoko">Password</span>
      </label>
    </span>
  </form>
  <p class="pwd-error text-danger">incorrect password</p>
</div>