<section class="sonoma-slide slide-map-11-1" data-title="Rainfall in the Region Falls Mostly as Extreme Events">
  <div class="container content-section">
    <div class="row flex -align-center">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Rainfall in the Region Falls Mostly as Extreme Events</h2>
        </header>
        <p class="content">
          Almost half of the region’s rain comes from ocean events known as <strong>Atmospheric Rivers</strong>.
        </p>
        <p class="content">
          <strong>Atmospheric rivers can carry 10 times the amount of water flowing out the mouth of the Mississippi River, and can cause extreme rain, snow, and flood risks.</strong>
        </p>
      </div>
      <div class="col-md-6 wrapper">
        <div class="c-image -column">
          <img src="img/sonoma/sonoma-11/atmospheric-river.gif" class="c-image"/>
          <p>
            An image showing a week-long atmospheric river over the northeastern Pacific Ocean. [Warm colors indicate very moisture air.]
          </p>
          <p>
            (Animation from <a href="http://mead.ucsd.edu/" target="_blank">NOAA</a>)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sonoma-slide" data-title="Atmospheric Rivers are “Drought Busters”">
  <div class="container content-section">
    <div class="row flex -align-center">
      <div class="col-md-6 wrapper">
        <div>
          <img src="img/sonoma/sonoma-11/lake-dry.jpg" class="c-image"/>
          <p>
            December 2015
          </p>
          <img src="img/sonoma/sonoma-11/lake.jpg" class="c-image"/>
          <p>
            March 2016
          </p>
        </div>
      </div>
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Atmospheric Rivers are “Drought Busters”</h2>
        </header>
        <p class="content">
          Atmospheric Rivers comprise the top 5% of all annual rainfall responsible for filling Sonoma County reservoirs, often called “Drought Busters.”
        </p>
      </div>
    </div>
  </div>
</section>

<section class="sonoma-slide" data-title="Atmospheric Rivers Fill the Region’s Reservoirs">
  <div class="container content-section">
    <div class="row flex -align-center">
      <div class="col-md-5 wrapper">
        <header class="header">
          <h2 class="title">Atmospheric Rivers Fill the Region’s Reservoirs</h2>
        </header>
        <p class="content">
          A series of events filled Lake Mendocino in early 2016 from far below normal to above normal in 3 months.
        </p>
      </div>
      <div class="col-md-7 wrapper">
        <img src="img/sonoma/sonoma-11/Mendolakechart.png" class="c-image -full"/>
      </div>
    </div>
  </div>
</section>

<section class="sonoma-slide" data-title="Learning more about Atmospheric Rivers (ARs)">
  <div class="container content-section">
    <div class="row flex -align-center">
      <div class="col-md-6 wrapper">
        <div class="c-image -column">
          <a href="http://escholarship.org/uc/item/1hq3504j#page-1" target="_blank">
            <img src="img/sonoma/sonoma-11/russian.png" class="c-image"/>
          </a>
        </div>
        <p>
          <span>Legend:</span>
          <ul>
            <li style="color: #bb8f8f">Brown bars, annual precipitation</li><br/>
            <li style="color: black">Black line, 5-year running average of annual precipitation</li><br/>
            <li style="color: #1ffe3d">Green line, bottom 90% of wet days</li><br/>
            <li style="color: red">Red line, top 10% of wet days</li>
          </ul>
        </p>
        <p>
          Image: The top 10% of wet days reflects the patterns in
          the total annual precipitation. Big storms like ARs
          explain 81% of the variance in total precipitation,
          which illustrates their importance in the Sonoma
          County region.
        </p>
      </div>
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Learning more about Atmospheric Rivers (ARs)</h2>
        </header>
        <p class="content">
          The Sonoma County Water Agency, the Scripps Institute of Oceanography’s <a href="http://woodland.ucsd.edu/" target="_blank">Center for Western Weather and Water Extremes</a>, and NOAA have installed new monitoring systems to improve AR forecasts. The program allows scientists to understand how ARs can help provide a more secure water supply.
        </p>
      </div>
    </div>
  </div>
</section>