<section class="sonoma-slide slide-map-8-1" data-title="More Very Hot Days">
  <div class="container content-section">
    <div class="row flex -align-center">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">More Very Hot Days</h2>
        </header>
        <p class="content">
          This sequence of maps shows where summer temperatures, on average, are expected to exceed 85°F (yellow) and 90°F (red).
        </p>
        <p class="content">
          Increases of this magnitude can result in up to six times more high heat days compared to today.
        </p>
      </div>
      <div class="col-md-6 wrapper map-card">
        <div id="map8-1" class="map slide-map-8-1"></div>
        <div class="map-legend">
          <div class="range years">
            <span class="-selected">1951-1980</span>
            <span>1981-2010</span>
            <span>2011-2039</span>
            <span>2040-2069</span>
            <span>2070-2099</span>
          </div>
          <div id="timelineSlider8-1" class="slide"></div>
          <span class="title">Explanation</span>
          <span class="legend"> Areas showing the 30-yr average maximum monthly summer temperature exceeds the average maximum monthly temperature between 1981 and 2010 (>95 °F) </span>
        </div>
      </div>
    </div>
  </div>
</section>