<section class="sonoma-slide" data-title="Effects of Warmer Winter Nights">
  <div class="container content-section">
    <div class="row">
      <div class="overlapping-cards">
        <div class="card">
          <header class="header">
            <h2 class="title -ln-white">Effects of Warmer Winter Nights</h2>
          </header>
          <p class="content">
            Warmer nights can result in:
            <ul>
              <li>Less insect die-off, leading to forest outbreaks, or agricultural infestations.</li>
              <li>Fewer chilling hours for fruit trees, reducing fruit yield.</li>
              <li>A mismatch in the timing of pollinators and plant growth.</li>
            </ul>
            Photo Credit: ©Pepperwood 2016
          </p>
        </div>
        <div class="card img img7-1"></div>
      </div>
    </div>
  </div>
</section>