<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 wrapper">
        <br><br>
        <header class="header">
          <h1 class="title">Partners</h1>
        </header>
        <p class="content">A public-private collaboration, the Partnership for Resilience and Preparedness (PREP) was formed to accelerate use of information and communication technology to improve climate risk assessment and resilience planning. It includes representatives from United States government agencies with vast data holdings, leading technology companies in the private sector, and civil society organizations.</p>
        <br>
        <p class="content"><i>Co-develop, co-brand, and co-govern.</i> A public-private collaboration was created to take advantage of the respective abilities each partner brings to the table. We persue nimble and rapid innovation, ownership and trust among partners, and a diversity of expertise and experience.
        </p>
      </div>
    </div>
    <style>
     .content-section .wrapper .partner-logo {
         display: inline-block;
         height: 90px;
         margin: 25px 0;
     }
     .content-section .wrapper .partner-logo > img{
         position: relative;
         max-width: 180px;
         max-height: 90px;
         top: 50%;
         transform: translate(0, -50%);
         -moz-transform: translate(0, -50%);
         -webkit-transform: translate(0, -50%);
     }
    </style>
    <div class='row'>
        <div class='col-md-9 wrapper'>
            <h3 class="title">Partners</h3>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-6 col-sm-4 col-md-3 wrapper'>
            <a href='//cartodb.com' class='partner-logo'>
                <img src='img/partners/cartodb.png' alt='CartoDB' />
            </a>
        </div>
        <div class='col-xs-6 col-sm-4 col-md-3 wrapper'>
            <a href='//descarteslabs.com' class='partner-logo'>
                <img src='img/partners/descarteslabs.png' alt='Descartes Labs' >
            </a>
        </div>
        <div class='col-xs-6 col-sm-4 col-md-3 wrapper'>
            <a href='//earthknowledge.com' class='partner-logo'>
                <img src='img/partners/earthknowledge.jpg' alt='Earth Knowledge' />
            </a>
        </div>
        <div class='col-xs-6 col-sm-4 col-md-3 wrapper'>
            <a href='//esri.com' class='partner-logo'>
                <img src='img/partners/esri.jpg' alt='Esri' />
            </a>
        </div>
        <div class='col-xs-6 col-sm-4 col-md-3 wrapper'>
            <a href='//vizzuality.com' class='partner-logo'>
                <img src='img/partners/vizzuality.png' alt='Vizzuality' />
            </a>
        </div>
        <div class='col-xs-6 col-sm-4 col-md-3 wrapper'>
            <a href='//wri.org' class='partner-logo'>
                <img src='img/partners/wri.jpg' alt='World Resources Institute' >
            </a>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-9 wrapper'>
            <h3 class="title">Federal collaborators</h3>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-6 col-sm-4 col-md-3 wrapper'>
            <a href='//doi.gov' class='partner-logo'>
                <img src='img/partners/doi.png' alt='U.S. Department of the Interior' >
            </a>
        </div>
        <div class='col-xs-6 col-sm-4 col-md-3 wrapper'>
            <a href='//nasa.gov' class='partner-logo'>
                <img src='img/partners/nasa.png' alt='U.S. National Aeronautics and Space Administration' />
            </a>
        </div>
        <div class='col-xs-6 col-sm-4 col-md-3 wrapper'>
            <a href='//noaa.gov' class='partner-logo'>
                <img src='img/partners/noaa.png' alt='U.S. National Oceanic and Atmospheric Administration' />
            </a>
        </div>
        <div class='col-xs-6 col-sm-4 col-md-3 wrapper'>
            <a href='//globalchange.gov' class='partner-logo'>
                <img src='img/partners/usgcrp.jpg' alt='U.S. Global Change Research Program' />
            </a>
        </div>
    </div>
  </div>
</section>
<div class="container-fluid create">
  <div class="row text-center">
    <div class="col-xs-6">
      <p>Do you have relevant data about climate?</p>
    </div>
    <div class="col-xs-6">
      <p>Would you like to improve a dashboard?</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-6">
      <button class="btn btn-lg btn-create coming-soon">CREATE YOUR DASHBOARD</button>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-lg btn-contact coming-soon">GET IN TOUCH</button>
    </div>
  </div>
</div>
