<section class="sonoma-slide slide-map-8-1" data-title="More Very Hot Days">
  <div class="container content-section">
    <div class="row flex -align-center">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">More Very Hot Days</h2>
        </header>
        <p class="content">
          This sequence of maps shows where summer temperatures, on average, are expected to exceed 85°F (yellow) and 90°F (red).
        </p>
        <p class="content">
          Increases of this magnitude can result in up to six times more high heat days compared to today.
        </p>
      </div>
      <div class="col-md-6 wrapper">
        <div class="flex map-card">
          <iframe src="https://resource-watch.github.io/insights/sonoma-maps/summer-air-temperature.html"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
