<section class="sonoma-slide" data-title="Effects of More Very Hot Days">
  <div class="container content-section">
    <div class="row">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Effects of More Very Hot Days</h2>
        </header>
        <p class="content">
          <ul>
            <li>Serious health risks for some people</li>
            <li>More water needed to maintain landscaping and crops</li>
            <li>More energy used for cooling and for water production</li>
            <li>Shifts in how farmers grow crops</li>
          </ul>
        </p>
      </div>
      <div class="col-md-6 wrapper">
        <img src="img/sonoma/sonoma-9/agriculture.jpg" class="c-image"/>
      </div>
    </div>
  </div>
</section>