<div class="container pad-top-50">
  <div class="well">
    <div class="row">
      <div class="col-xs-5">
        <h4>{{t 'dashboards.findText'}}</h4>
      </div>
      <div class="col-xs-7">
        <button class="btn btn-default btn-md">Find Dashboards</button>
      </div>
    </div>
  </div>
</div>  
<div class="container pad-top-20">
  <div class="row">
    <div class="col-xs-12">
      <h4>{{t 'dashboards.featuredText'}}</h4>
    </div>
  </div>
  <div class="row">

  {{#each model as |row|}}
    <div class="col-xs-6">
      <article class="card" {{action 'goToDashboard' 'chicago' }}>
        <h1>{{row.title}}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget libero a odio consequat egestas id ac justo. Pellentesque non maximus ipsum, eget condimentum eros. In eget ante eget quam sollicitudin sagittis. Ut sed nisl libero. </p>
        <ul class="card-info">
          <li>January 7, 2016</li>
          <li>Author Name</li>
        </ul>
      </article>
    </div>
    {{/each}}
  </div> 
</div>
