<section class="sonoma-slide" data-title="INCREASE IN WARMER WINTER NIGHTS PROJECTED">
  <div class="container content-section">
    <div class="row">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Increase in Warmer Winter Nights projected</h2>
        </header>
        <p class="content">
          This map visualization shows the Sonoma County region is projected to see an increase in night-time temperature for winter months (Dec, Jan, Feb).
        </p>
        <p class="content">
          Warmer Winter Nights will bring more relaxing evenings outdoors, yet also bring potential problems for agriculture and health.
        </p>
      </div>
      <div class="col-md-6 wrapper">
        <div class="chart-card -light">
          <h2>Night-time temperature for winter months</h2>
          <div class="info-button">i</div>
          <div class="chart" id="chart3-1"></div>
        </div>
      </div>
    </div>
  </div>
</section>
