<section class="sonoma-slide slide-map-3-1" data-title="Increase in warmer winter nights projected">
  <div class="container content-section">
    <div class="row">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Increase in Warmer Winter Nights projected</h2>
        </header>
        <p class="content">
          This map visualization shows the Sonoma County region is projected to see an increase in night-time temperature for winter months (Dec, Jan, Feb).
        </p>
        <p class="content">
          Warmer Winter Nights will bring more relaxing evenings outdoors, yet also bring potential problems for agriculture and health.
        </p>
      </div>
      <div class="col-md-6 wrapper map-card">
        <div id="map3-1" class="map slide-map-3-1"></div>
        <div class="map-legend">
          <span class="title">30 years average</span>
          <div class="range years">
            <span class="-selected">1951-1980</span>
            <span>1981-2010</span>
            <span>2011-2039</span>
            <span>2040-2069</span>
            <span>2070-2099</span>
          </div>
          <div id="timelineSlider3-1" class="slide"></div>
          <span class="title">Legend</span>
          <div class="legend"></div>
          <div class="range -no-selectable">
            <span> -50°C </span>
            <span> -25°C </span>
            <span> 0°C </span>
            <span> 25°C </span>
            <span> 50°C </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sonoma-slide" data-title="Night temperature changes consequences">
  <div class="container content-section">
    <div class="row">
      <div class="overlapping-cards">
        <div class="card -sm">
          <p>While warmer winter nights may seem great to be outside and use less energy to heat your home or office, it can affect agriculture, Sonoma County’s largest industry, in complex ways.  Growers have been adapting to environmental changes creatively for decades and will need to in the future.</p>
          <p>Grapevines require a certain number of nights near freezing to produce fruit.  Fewer freezing nights will therefore require shifts to agricultural practices to maintain their production levels.</p>
        </div>
        <div class="card slide-3-2">
          <p>Also when night times temperatures get so low that grapes are threatened by frost, vineyard managers will spray grapevines with water immediately prior to the freeze to protect the vines from extreme damage.</p>
          <p>Fewer nights of freezing will result therefore in less water used by agriculture for frost protection.</p>
          <p>Warmer winter nights unfortunately also increase the potential for disease vectors from mosquitoes and rodents. Freezing nights kill mosquitoes and reduce rodent population.</p>
        </div>
      </div>
    </div>
  </div>
</section>
