<ul class="nav nav-pills nav-justified" role="tablist">
  {{#link-to "dashboards.dashboard.indicators" tagName="li"}}
      <a>{{t 'dashboard.tabs.indicators'}}</a>
  {{/link-to}}
  {{#link-to "dashboards.dashboard.insights" tagName="li"}}
      <a>{{t 'dashboard.tabs.insights'}}</a>
  {{/link-to}}
  {{#link-to "dashboards.dashboard.tools" tagName="li"}}
      <a>{{t 'dashboard.tabs.tools'}}</a>
  {{/link-to}}    
</ul>