<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="brand" src="https://s3.amazonaws.com/project-climate/header/prep-logo-1-white.png">
      </a>
    </div>
    {{ partial 'partials/header-nav-right' }}
  </div>
</nav>