<header class="jumbotron content-section l-header">
  <div class="container content-section">
    <div class="wrapper">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{#link-to 'home'}}
            <img class="logo" src="img/vizz/logo@2x.png" alt="Preparedness for Resilience" />
          {{/link-to}}
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            {{#link-to 'data' tagName="li" class="item"}} 
              <a href="#">DATA</a>
            {{/link-to}}
            {{#link-to 'dashboards.index' tagName="li" class="item"}} 
              <a href="#">DASHBOARDS</a>
              {{#if (eq currentPath 'dashboards.index')}}
                <div class="page-marker-dashboards"></div>
              {{/if}}
            {{/link-to}}
            {{#link-to 'insights' tagName="li" class="item"}} 
              <a href="#">INSIGHTS</a>
              {{#if (eq currentPath 'insights')}}
                <div class="page-marker-insights"></div>
              {{/if}}
            {{/link-to}}
            <li class="item separator"></li>
            {{#link-to 'search' tagName="li" class="item -secondary"}} 
              <a href="#">Search</a>
            {{/link-to}}
            <li class="item -secondary"><a>English</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>