<ul class='nav navbar-nav navbar-right'>
  <li>
    {{#link-to 'data'}}DATA{{/link-to}}
  </li>
  <li>
    <a href="http://www.arcgis.com/features/features.html" target="_blank">DASHBOARDS</a>
  </li>
  <li>
    <a href="http://www.arcgis.com/features/features.html" target="_blank">INSIGHTS</a>
  </li>
  <li>
    <hr class="header-separator">
  </li>
  <li>
    <a href="http://www.arcgis.com/features/features.html" target="_blank">SEARCH</a>
  </li>
  <li>
    <a href="http://www.arcgis.com/features/features.html" target="_blank">ENGLISH</a>
  </li>
</ul>