<section class="sonoma-slide slide-map-3-1" data-title="Warmer Winter Nights">
  <div class="container content-section">
    <div class="row flex -align-center">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Warmer Winter Nights</h2>
        </header>
        <p class="content">
          This sequence of maps shows where winter night-time temperatures, on average, are expected to exceed 39°F (yellow) and 43°F (red).
        </p>
      </div>
      <div class="col-md-6 wrapper">
        <div class="flex map-card">
          <iframe src="https://resource-watch.github.io/insights/sonoma-maps/winter-air-temperature.html"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
