
<section class="sonoma-slide" data-title="Extreme Weather in the Sonoma Region">
  <div class="container content-section">
    <div class="row">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Extreme Weather in the Sonoma Region</h2>
        </header>
        <p class="content">
          The region has historically experienced severe storms, floods, droughts, heat waves, and fires, but the severity and frequency of these events and related impacts are increasing.
        </p>
        <p class="content">
          Understanding how these hazards are changing and making informed decisions about them will keep our communities vibrant and resilient.
        </p>
      </div>
      <div class="col-md-6 wrapper">
        <img src="img/sonoma/sonoma-4/Guerneville.jpg" class="c-image"/>
      </div>
    </div>
  </div>
</section>

<section class="sonoma-slide" data-title="Preparing for Climate Variability">
  <div class="container content-section">
    <div class="row">
      <div class="col-md-6 wrapper">
        <img src="img/sonoma/sonoma-4/drought.jpg" class="c-image"/>
      </div>
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">Preparing for Climate Variability</h2>
        </header>
        <p class="content">
          Unprecedented heat is projected in all seasons: all sectors of our economy will be impacted.
        </p>
        <p class="content">
          Rainfall is likely to be more variable, producing both low and high extremes. Runoff will become more flashy, and dry soil conditions will be persistent.
        </p>
        <p class="content">
          Photo Credit: ©Pepperwood 2016
        </p>
      </div>
    </div>
  </div>
</section>

<section class="sonoma-slide" data-title="What to Expect">
  <div class="container content-section">
    <div class="row">
      <div class="col-md-6 wrapper">
        <header class="header">
          <h2 class="title">What to Expect</h2>
        </header>
        <p class="content">
          <ul>
            <li>Water demand for agriculture may increase 10%.</li>
            <li>Wildfires may increase 20%.</li>
            <li>Forests will change, shifting to more drought-tolerant species.</li>
            <li>Suitability for agricultural crops may shift locations.</li>
          </ul>
        </p>
        <p class="content">
          Photo Credit: ©Pepperwood 2016
        </p>
      </div>
      <div class="col-md-6 wrapper">
        <img src="img/sonoma/sonoma-4/fire.jpg" class="c-image"/>
      </div>
    </div>
  </div>
</section>
